.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.img{
    width: 300px;
    height: auto;
}

.list{
    display: flex;
    list-style: none;
    align-items: flex-end;
    margin-right: 10%;
}

.item{
    font-size: large;
    margin-right: 40%;
}

.item a{
    color: #FFF;
    text-decoration: none;
}

.item, a:hover{
    color: #ffbb33;
}