.form{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    border: 1px #d9d9d9 solid;
    margin: 5%;
    padding: 3% 0 3% 0;
}

.form_group{
    padding-bottom: 10px;
    width: 60%;
}

.button{
    width: 40%;
}

.a{
    color: #0d6efd;
    text-decoration: none;
}

.a:hover{
    color: #0b5ed7;
}